[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg2 = "*"
wheel = "*"
setuptools = "*"
prometheus-client = "~=0.15.0"
flask = "*"
pdpyras = "*"

[dev-packages]

[requires]
python_version = "3.8"
