[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg2 = "*"
prometheus-client = "==0.7.1"
wheel = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.8"
